.frame {
    background-clip: content-box;
    box-shadow: inset 0 0 0 10px #ff6f00;
  }

.bounce:hover {
    animation: 15s ease 0s bounce-up;
}

@keyframes bounce-up {
    1% { transform:translateY(-1%); }
    100% { transform:translateY(0%); }
}

.no-link-underscoring {
    text-decoration: none; 
}

.emoji {
    font-size: xxx-large;
}
.multiply {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}
.cam-pattern {
    background: url('cam-pattern-3.png');
    background-repeat: repeat;
    background-size: 128px;
}

@media (min-width: 770px) {
.desktop-image {
    background-repeat: no-repeat;
    z-index: 10;
}}

@media (max-width: 770px) {
    .desktop-image {
    background-repeat: no-repeat;
    z-index: 10;
    background-image: none !important;
}}

.shop-camera-img {
    background-image: url('ready-camera.jpg');  
    background-position: right; 
    background-size: 20.2em;
}

:root {
    --primary: #ff6f00;
    --primary-dark: #c26d29;
    --primary-bg: #f4b17d;
    --primary-bg-light: #fadec7;
    --primary-bg-dark: #f09b57;
    --secondary: #62bce4;
    --secondary-light: #89c8dd;
    --secondary-dark: #3da1cc;
    --tetriary: #3a847c;
    --tetriary-dark: #203932;
    --grey-light: #f0f0f0;
    --grey: #949393;
}

.m-bg-grey {
    background-color: var(--grey-light);
}

.m-text-primary {
    color: var(--primary);
}

.m-text-secondary {
    color: var(--secondary-dark);
}

.m-btn-primary {
    background-color: var(--primary);
}

.m-btn-primary:hover {
    background-color: var(--primary-dark) !important;
}

@font-face {
font-family: "runde";
src:
    url("OpenRunde-Medium.woff") format("woff");
}

h1,h2,h3,h4,h5 {
    font-family: 'runde';
}