.card-link {
    text-decoration: none;
    color: black;
}

.card-link:hover {
    color: var(--primary) !important;
}

.frame {
    background-clip: content-box;
    box-shadow: inset 0 0 0 10px #ff6f00;
  }

.bounce:hover {
    animation: 15s ease 0s bounce-up;
}

@keyframes bounce-up {
    1% { transform:translateY(-1%); }
    100% { transform:translateY(0%); }
}

.no-link-underscoring {
    text-decoration: none; 
}

.emoji {
    font-size: 80px;
}
.multiply {
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
}
.cam-pattern {
    background: url('pattern.png');
    background-repeat: repeat;
    background-size: 256px;
}

@media (min-width: 770px) {
.desktop-image {
    background-repeat: no-repeat;
    z-index: 10;
}}

@media (max-width: 770px) {
    .desktop-image {
    background-repeat: no-repeat;
    z-index: 10;
    background-image: none !important;
}}

.shop-camera-img {
    background-image: url('ready-camera.jpg');  
    background-position: right; 
    background-size: 20.2em;
}

:root {
    --primary: #ff6f00;
    --primary-dark: #c26d29;
    --primary-bg: #f4b17d;
    --primary-bg-light: #fadec7;
    --primary-bg-dark: #f09b57;
    --secondary: #62bce4;
    --secondary-light: #89c8dd;
    --secondary-dark: #3da1cc;
    --tetriary: #3a847c;
    --tetriary-dark: #203932;
    --grey-light: #f0f0f0;
    --grey: #949393;
}

.m-bg-grey {
    background-color: var(--grey-light);
}

.m-text-primary {
    color: var(--primary);
}

.m-text-secondary {
    color: var(--secondary-dark);
}

.m-btn-primary {
    background-color: var(--primary);
}

.m-btn-primary:hover {
    background-color: var(--primary-dark) !important;
}

@font-face {
font-family: "runde";
src:
    url("OpenRunde-Medium.woff") format("woff");
}

h1,h2,h3,h4,h5 {
    font-family: 'runde';
}

.m-button {
    font-family: 'runde';
    position: absolute;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

.noto-sans-jp-600 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.label {
    background-color: #ff5858;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

@media(min-width: 1450px){
.left-label {
    z-index: 100;
    position: absolute;
    transform: rotate(15deg);
    max-width: 20rem;
    left: -60rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 7rem;
}}

@media(max-width: 1450px){
.left-label {
    display: none;
}}

@media(max-width: 650px){
.right-label {
    display: none;
}}

@media(min-width: 650px){
.right-label {
    z-index: 100;
    position: absolute;
    transform: rotate(-10deg);
    max-width: 300px;
    top: 41rem;
    left: 0;
    right: -40%;
    margin-left: auto;
    margin-right: auto;
}}

@media(min-width: 1450px){
    .opaque-label{
        transform: rotate(-8deg);
        right: 50rem;
        left: 0;
        top: 13rem;
        right: 46rem;
        max-width: 333px;
        z-index: 100;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 1450px){
    .opaque-label{
        display: none;
    }
}