{% extends 'header.html' %}

{% block body %}
    <div class="text-center container-fluid mt-5 pt-5">
        <div class="container text-center my-5 mt-2">
            <div class="multiply container" style="background-image: url(404.png); width: 100vw; height: 40vh; background-size: contain; background-repeat: no-repeat; background-position: center; min-width: 350px; padding: 0;"></div>
            <h1 class="fw-bold m-text-primary" style="font-size: 10rem;">404</h1>
            <h2 class="fw-bold m-text-primary">Тут еще ничего нет</h2>
        </div>  
    </div>
{% endblock %}