{% extends 'base.html' %}

{% block content %}
<section>
  <div class="row flex-row m-3 fw-bold">
      <span>/<a href="/store/" class="no-link-underscoring">Каталог</a>/<a href="/store/cameras" class="no-link-underscoring">Камеры</a>/</span>
  </div>
</section>

<section>
  <div class="row d-flex mx-0 justify-content-center">
    <style>
      @media(min-width: 575px){
        #grid {
          width: 80vw; 
          display: grid; 
          grid-template-columns: repeat(2, 1fr);
        }

        #img {
          text-align: end;
          margin-right: 4em;
        }
      }

      @media(max-width: 575px){
        #grid {
          display: grid; 
          grid-template-rows: repeat(2, 1fr);
        }

        #img {
          text-align: center;
          align-content: space-evenly;
        }
      }
    </style>
    <div id="grid" class="m-5 p-0">
              {%- if camera.images | length > 0 -%}
              <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.7.8/dist/spotlight.bundle.js"></script>

                <div id="img" class="spotlight-group" data-title="{{ camera.name }}" data-animation="fade" data-preload="true">
                    {% for i in camera.images %}
                      <a {% if loop.index != 1 %} hidden {% endif %} class="spotlight" href="{{ i.external_url if i.external_url else i.name }}">
                        <img class="img-fluid rounded w-100" src="{{ i.external_url if i.external_url else i.name }}" style="max-width: 60em;" >
                      </a>
                    {% endfor %}
                </div>
              {%- endif -%}
                <div class="p-4">
                <h2 class="text-muted">Лот #{{ camera.id }}</h2>
                  <h1 class="display-5">
                    {{ camera.name }}
                  </h1>
                  <h3 class="mx-1">{{ camera.price | priceFormat }} ₽</h3>
                  <p class="text-break p-4">{{ camera.description }}</p>
                <ul>
                <li>Гарантия: месяц</li>
                <li>Состояние: удовлетворительное</li>
                <li>Проведено CLA</li>
              </ul>
        <a class="btn btn-lg m-btn-primary text-white mt-3 p-3 px-5 rounded-pill" href="#" type="button">В корзину</a>
                </div>
    
                </div>
        </div>
</section>
{% endblock %}