{% extends 'catalog-wrapper.html' %}
{% set title='Фотоаппараты' %}

{% block nav %}
{% endblock %}

{% block container %}
    {% if cameras %}
    <div class="flex d-flex row justify-content-center my-4">
        {% for i in cameras %}
                <div class="flex d-flex col-sm-12 col-md-6 col-xl-4 my-3 justify-content-center">
                    <div class="shadow card p-4 bounce" style="border-radius: 1.3em">
                        <a class="no-link-underscoring" href="/store/cameras/{{i.id}}">
                        <div class="card-body">
                            <img class="img-fluid rounded my-4" src="https://00.img.avito.st/image/1/1.TfjKKba44RH8gCMU3EA5yPKI4xd0iGMZvI3jE3qA6Rt8.2Fy4mm11VO6h_8BYvpN1GTp2ceaHmBiLeGaUyz-p4BM">
                            <h2 class="text-black">{{ i.name }}</h2>
                            <h4 class="m-text-primary">{{ i.price | priceFormat }}</h4>
                        </div>
                        </a>
                    </div>
                </div>
        {% endfor %}
    </div>
    {% else %}
        <h1 class="mt-5 text-center m-text-primary display-5">Похоже, что пока ничего нет в наличии</h1>
    {% endif %}
{% endblock %}