{% extends 'base.html' %}

{% block content %}
<section>
  <div class="row flex-row m-3 fw-bold">
      <span>/<a href="/store/" class="no-link-underscoring">Каталог</a>/<a href="/store/cameras" class="no-link-underscoring">Камеры</a>/</span>
  </div>
</section>

<section>
    <div class="row d-flex mx-0 justify-content-center">
        <div style="width: 80vw;" class="col-6 m-5 p-0">
          <h2>Лот #1</h2>

            <div class="row align-items-center d-flex justify-content-center p-4">

            <div class="col-sm-12 col-xxl-8 mb-4 mb-md-0">
                  <a href="#" onclick="openSlider(1)">
                    <img class="img-fluid rounded w-100" src="https://00.img.avito.st/image/1/1.TfjKKba44RH8gCMU3EA5yPKI4xd0iGMZvI3jE3qA6Rt8.2Fy4mm11VO6h_8BYvpN1GTp2ceaHmBiLeGaUyz-p4BM" style="max-width: 60em;">
                  </a>
            </div>

            <div class="col-sm-12 col-md-6 col-xxl-4 p-4">
              <h1 class="display-5">
                Konica C35 EL
              </h1>
              <h3 class="text-secondary">6 000 ₽</h3>
              <p class="text-break">описанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеиописанеи</p>
            <ul>
            <li>Гарантия</li>
            <li>Состояние</li>
            <li>Проведено обслуживание</li>
          </ul>
            </div>

            </div>
        </div>
    </div>

<div hidden class="modal fade text-center" id="1" tabindex="-1" style="display: block; background-color: #000000ab; align-content: center;">
  <img class="img-fluid rounded" src="https://00.img.avito.st/image/1/1.TfjKKba44RH8gCMU3EA5yPKI4xd0iGMZvI3jE3qA6Rt8.2Fy4mm11VO6h_8BYvpN1GTp2ceaHmBiLeGaUyz-p4BM">
</div>


</section>


  <script>
  let modal;

  const closeSlider = async (e) => {
      if (e.target.classList.contains("row") || e.target.classList.contains("modal")) {
        modal.classList.remove("show");
        modal.hidden = true;
      }
  }

  const openSlider = async (id) => {
    modal = document.getElementById(id);
    modal.hidden = false;
    modal.classList.add("show");
    modal.addEventListener("click", closeSlider);
    modal.firstElementChild.addEventListener("click", closeSlider);
  };
  </script>
{% endblock %}