{% extends 'catalog-wrapper.html' %}
{%- set title=category.name -%}
{%- block nav -%}
<a href="/store/spares" class="no-link-underscoring">Запчасти</a>/<a href="/store/spares/#{{ category.subtype }}" class="no-link-underscoring">{{ category.human_name }}</a>/</span>
{%- endblock -%}
{% block container %}
            <div class="row">
              <nav class="col-md-2 col-lg-2 col-xxl-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    
                    {% if brands %}
                    {% for i in brands %}
                    <li class="nav-item">
                      <a class="nav-link active text-muted" href="#{{ i.name|lower }}">
                        {{ i.name }}
                      </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </nav>
      
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% if brands %}
                {% for j in brands %}
                <h2 id="{{ j.name|lower }}" class="fw-bold mt-4">{{ j.name }}</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-sm align-middle">
                    <thead>
                      <tr>
                        <th>Артикул</th>
                        <th class="w-50">Наименование</th>
                        <th>Наличие</th>
                        <th>Количество</th>
                        <th>Цена</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if spares %}
                        {% for i in spares %}
                        {% if i.brand.name == j.name %}
                        <tr>
                          <td>{{ i.id }}</td>
                          <td>{{ j.name }} {{ i.name }}</td>
                          <td class="{{ i.availability.bootstrap_class }}">{{i.availability.human_name }}</td>
                          <td>{{ i.quantity|string + ' шт' if i.quantity else ''}}</td>
                          <td>{{ i.price|string+' руб' if i.price else ''}}</td>
                          <td class="text-end">{% if i.availability.name != 'unavailable'%}<button type="button" class="btn m-btn-primary btn-sm text-white pr-2">В корзину</button>{% endif %}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
                {% else %}
                <div class="text-center container-fluid mt-5 pt-5">
                  <div class="container text-center my-5 mt-2">
                      <div class="multiply container" style="background-image: url({{ url_for('static', filename='mammoth.png') }}); width: 100vw; height: 40vh; background-size: contain; background-repeat: no-repeat; background-position: center; min-width: 350px; padding: 0;"></div>
                      <h1 class="fw-bold m-text-primary" style="font-size: 10rem;">404</h1>
                      <h2 class="fw-bold m-text-primary">Тут еще ничего нет :(</h2>
                  </div>  
              </div>
                {% endif %}
              </main>
            </div>
{% endblock %}
