{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="row flex-row m-3 fw-bold">
            <span>/<a href="/store/" class="no-link-underscoring">Каталог</a>/<a href="/store/spares" class="no-link-underscoring">Запчасти</a>/<a href="/store/spares/#{{ spare_type }}" class="no-link-underscoring">{{ human_spare_type }}</a>/</span>
            <h1 class="fw-bold my-2">{{ human_spare_category }}</h1>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
              <nav class="col-md-2 col-lg-2 col-xxl-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    {% if brands %}
                    {% for i in brands %}
                    <li class="nav-item">
                      <a class="nav-link active text-muted" href="#{{ i.name|lower }}">
                        {{ i.name }}
                      </a>
                    </li>
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </nav>
      
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% if brands %}
                {% for j in brands %}
                <h2 id="{{ j.name|lower }}" class="fw-bold mt-2">{{ j.name }}</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Наличие</th>
                        <th>Количество</th>
                        <th>Цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if spares %}
                        {% for i in spares %}
                        {% if i.Spare.brand.name == j.name %}
                        <tr>
                          <td>{{ i.Spare.id }}</td>
                          <td>{{ i.Spare.name }}</td>
                          <td class="{{ 'text-success' if i.Spare.availability.name == 'AVAILABLE'}}{{ 'text-danger' if i.Spare.availability.name == 'UNAVAILABLE'}}{{ 'text-warning' if i.Spare.availability.name == 'UNKNOWN'}}">{{i.Spare.availability.value}}</td>
                          <td>{{ i.Spare.quantity|string + ' шт' if i.Spare.quantity else ''}}</td>
                          <td>{{ i.Spare.price|string+' руб' if i.Spare.price else ''}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
                {% endif %}
              </main>
            </div>
          </div>
    </section>
{% endblock %}
