{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="row flex-row m-3 fw-bold">
            <span>/<a href="/store/" class="no-link-underscoring">Каталог</a>/<a href="/store/spares" class="no-link-underscoring">Запчасти</a>/<a href="/store/spares/#electrical" class="no-link-underscoring">Электроника</a>/</span>
            <h1 class="fw-bold my-2">Матрицы</h1>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <div class="row">
              <nav class="col-md-2 col-lg-2 col-xxl-1 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active text-muted" href="#">
                        Canon
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">
                        Fujifilm
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">
                        Nikon
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">
                        Sony
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">
                        Olympus
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-muted" href="#">
                        Panasonic
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
      
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            
                <h2 class="fw-bold mt-2">Canon</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Наличие</th>
                        <th>Количество</th>
                        <th>Цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% if spares %}
                        {% for i in spares %}
                        <tr>
                          <td>{{ i.id }}</td>
                          <td>{{ i.name }}</td>
                          <td class="{{ 'text-success' if i.availability == 'В наличии'}}{{ 'text-danger' if i.availability == 'Отсутствует'}}{{ 'text-warning' if i.availability == 'Уточняйте'}}">{{i.availability}}</td>
                          <td>{{ i.quantity|string + ' шт' if i.quantity else ''}}</td>
                          <td>{{ i.price|string+' руб' if i.price else ''}}</td>
                        </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                  </table>
                </div>

                <h2 class="fw-bold mt-2">Fujifilm</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Артикул</th>
                        <th>Наименование</th>
                        <th>Наличие</th>
                        <th>Количество</th>
                        <th>Цена</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </main>
            </div>
          </div>
    </section>
{% endblock %}
