<footer class="m-bg-grey p-4">
    <div class="row mx-0">
        <a href="{{ url_for('index') }}" class="navbar-brand mb-3">
            <img class="d-inline-block align-text-top" height="32" width="32" alt="Logo" src="{{ url_for('static', filename='logo.svg') }}" style="margin-right:2rem">
        </a>
    </div>
    <div class="row flex-row text-muted mx-0">
        <div class="col">
            <h5 class="fw-bold">Контакты</h5>
            <ul class="list-unstyled text-small">
            <li>{{ config.ADDRESS }}</li>
            
            <li><a class="no-link-underscoring" href="tel://{{ config.PHONE }}">{{ config.PHONE }}</a></li>
            <li><a class="no-link-underscoring" href="mailto://{{ config.MAIL }}">{{ config.MAIL }}</a></li>
        </ul>
        </div>
        <div class="col">
            <h5 class="fw-bold">Сервис</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted no-link-underscoring" href="/route">Как пройти</a></li>
            <li><a class="text-muted no-link-underscoring" href="/rules">Памятка клиента</a></li>
            <!-- <li><a class="text-muted no-link-underscoring" href="/refund">Условия возврата и гарантийного ремонта</a></li> -->
            <li><a class="text-muted no-link-underscoring" href="/tracking">Статус ремонта</a></li>
        </ul>
        </div>
        <div class="col">
            <h5 class="fw-bold">Кто мы</h5>
            <ul class="list-unstyled text-small">
            <li><a class="text-muted no-link-underscoring" href="/">О нас</a></li>
            <li><a class="text-muted no-link-underscoring" href="https://t.me/masterskaya35ru">Блог</a></li>
            <li class="mt-3">
              <a class="no-link-underscoring" href="{{ config.TG_LINK }}">
                <img class="opacity-50" height="32" width="32" alt="tg" src="{{ url_for('static', filename='tg.svg') }}">
            </a>
            <a class="no-link-underscoring" href="{{ config.VK_LINK }}">
                <img class="opacity-50" height="32" width="32" alt="vk" src="{{ url_for('static', filename='vk.svg') }}">
            </a>
            <a class="no-link-underscoring" href="{{ config.AVITO_LINK }}">
                <img style="border-radius: 100%; background-color: white; filter: invert(1);" class="opacity-50" height="32" width="32" alt="avito" src="{{ url_for('static', filename='avito.svg') }}">
            </a>
            </li>
        </ul>
        </div>
        <div class="col">
            <p>Вся информация, размещенная на сайте, носит исключительно информационный характер и не является рекламой и публичной офертой.</p>
            <p>Сайт находится в разработке</p>
        </div>
    </div>
    <div class="row mx-0 pt-3 text-muted">
        <p>Site is built and designed by <a href="https://github.com/man3kin3ko/">@man3kin3ko</a></p>
    </div>
</footer>
