{% extends 'base.html' %}

{% block content %}
<section class="section mt-2">
    <div class="p-4 pt-2 container-fluid">
        <div class="flex flex-row row justify-content-center">
        <div class="frame col col-lg-8 mx-1">
            <div class="px-4 py-5 text-center" id="leadpic">                  
                <h1 class="display-5 fw-bold text-break">Мы чиним фотоаппараты</h1>
                <div class="left-label">
                    <p class="noto-sans-jp-600 label"> フィルム </p>
                </div>
                <div class="opaque-label">
                    <p class="noto-sans-jp-600 label" style="background-color: #057effa8"> すげー! </p>
                </div>
                <div class="right-label">
                    <p class="noto-sans-jp-600 label"> カメラ </p>
                </div>
                <div class="col-lg-12 mx-auto">
                    <h3>Всех брендов пленочных камер: <span id="typewriter" class="Typewriter__wrapper">Зенит</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section class="section text-center">
    <div class="m-bg-grey my-5 py-5">
        <div class="my-5 mt-2">
            <h1 class="fw-bold">В чем наши преимущества?</h1>
        </div>
    <div class="row d-flex mx-0 justify-content-center justify-content-center">
        <div class="col-sm-5 col-md-4 my-3 col-lg-3 col-xl-2 mr-0">
          <h1 class="emoji">🧩</h1>
          <p class="small-text">Найдем подход к каждой проблеме</p>

        </div>
        <div class="col-sm-5 my-3 col-md-4 col-lg-3 col-xl-2 mr-0">
          <h1 class="emoji">⚖️</h1>
          <p class="small-text">Работаем и с&nbsp;механикой, и с&nbsp;электроникой</p>

        </div>
        <div class="col-sm-5 my-3 col-md-4 col-lg-3 col-xl-2 mr-0">
          <h1 class="emoji">📝</h1>
          <p class="small-text"><a class="no-link-underscoring" href="/tracking">Трекинг</a> по&nbsp;состоянию ремонта в процессе</p>
          
        </div>
      </div>
    </div>
    <div class="py-lg-5 text-center">
            <p class="fs-4 text-body-secondary">Кроме того, мы продаем запчасти и отреставрированные камеры в нашем <a class="no-link-underscoring" href="/store">магазине</a></p>
    </div>
</section>
<section class="section">
<div class="container text-center mt-5">
    <h1 class="fw-bold">Как проходит обслуживание</h1>
</div>

<div class="container">
    <div class="row flex-row">
        <div id="master"
            class="col-xs-12 col-sm-6 col-xl-4 d-flex flex-column justify-content-start align-self-center">

        </div>
        <div
            class="col-xs-12 col-sm-6 col-xl-8 pb-4 pt-5 3d-flex flex-column justify-content-center align-self-start">
            <div class="container-fluid">
                <h2 class="m-text-primary fw-bold">Диагностика</h2>
                <p>После заполнения <a class="no-link-underscoring" href="/#repair_order">заявки</a> мастер свяжется с вами для согласования времени и стоимости ремонта. Отдать
                    камеру можно лично или по почте, <a class="no-link-underscoring" href="/rules#preparation">а также сервисами BoxBerry и СДЭК<a></p>
                <h2 class="m-text-primary fw-bold">Ремонт</h2>
                <p>После диагностики мастер устранит все неисправности и даст рекомендации по уходу. Ремонт включает ультразвуковую очистку и замену смазки</p>
                <h2 class="m-text-primary fw-bold">Настройка</h2>
                <p>По вашему желанию сделаем полный CLA: также отрегулиуем
                    выдержку и дальномер, отюcтируем объектив. Тестовая пленка по желанию заказчика</p>
                <h2 class="m-text-primary fw-bold">Дополнительно</h2>
                <p>При необходимости закажем недостающие детали или изготовим на 3D-принтере</p>
            </div>
        </div>
    </div>
</div>
</section>
<section>
<div class="m-bg-grey text-center mt-5 pt-5">
    <div class="container text-center my-5 mt-2">
        <h1 class="fw-bold">Отзывы клиентов</h1>
    </div>  
    <div class="sw-app" data-app="5f35cd3be2497e62166a626768d62f50"></div>
</div>
</section>
</section>
<section class="section">
    {% include 'order_form.html' %}
</section>

{% endblock %}