<header class="bg-body-tertiary d-flex flex-wrap {% if not request.path.startswith('/tracking') %}mb-4{%endif%} border-bottom align-items-center justify-content-between">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a style="border: none" class="navbar-toggler" onclick=toggleMobileNavbar() type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false">
            <img class="d-inline-block align-text-top" height="32" width="32" alt="Logo" src="{{ url_for('static', filename='logo.svg') }}" style="margin-right:2rem">
          </a>
          <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
            <div class="navbar-nav navbar-mobile">
              <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="/">Главная</a>
              <a class="nav-link {% if request.path == '/store/' %} active {% endif %}" href="/store/">Каталог</a>
              <div class="dropdown" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <a class="nav-link {% if request.path.startswith('/store/spares/') %} active {% endif %}" href="#" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Запчасти</a>
                <ul class="dropdown-menu pl-2 pr-3" aria-labelledby="navbarDropdown" data-popper-placement="bottom-end" style="position: absolute;">
                  
                  {% set electric_items = cached_categs | selectattr('subtype', 'equalto', 'electrical') | list %}
                  {% if electric_items %}
                  <li><h5 class="dropdown-header">⚡ Электроника</h5></li>
                  {% for i in electric_items %}
                    <li><a class="dropdown-item" href="#" onclick="redirect('{{i.store_link}}')">{{i.name}}</a></li>
                  {% endfor %}
                  {% endif %}

                  {% set mecha_items = cached_categs | selectattr('subtype', 'equalto', 'mecha') | list %}
                  {% if mecha_items %}
                    <li><h5 class="dropdown-header">⚙️ Механика</h5></li>
                  {% for i in mecha_items %}
                    <li><a class="dropdown-item" href="#" onclick="redirect('{{i.store_link}}')">{{ i.name }}</a></li>
                  {% endfor %}
                  {% endif %}

                  {% set common_items = cached_categs | selectattr('subtype', 'equalto', 'common') | list %}
                  {% if common_items %}
                    <li><h5 class="dropdown-header">🪛 Общие запчасти</h5></li>
                  {% for i in common_items %}
                    <li><a class="dropdown-item" href="#" onclick="redirect('{{i.store_link}}')">{{ i.name }}</a></li>
                  {% endfor %}
                  {% endif %}
                    <script>
                      function redirect(url) {
                        window.location = url;
                      }
                      function toggleMobileNavbar() {
                        let navbarContent = document.getElementById("navbarToggleExternalContent");
                        if (navbarContent.classList.contains("collapse")) {
                          navbarContent.classList.remove("collapse");
                        } else {
                          navbarContent.classList.add("collapse");
                        }
                      }
                    </script>
                  </ul>
              </div>
              <a class="nav-link {% if request.path.startswith('/store/cameras/') %} active {% endif %}" href="/store/cameras/">Фотоаппараты</a>
              <a class="nav-link" href="{{ url_for('index') }}#repair_order">Заказать ремонт</a>
              <a class="nav-link" href="https://t.me/masterskaya35ru">Блог</a>
            </div>
          </div>
        </div>
    </nav>
    <a href="{{ url_for('index') }}" class="navbar-brand d-none d-sm-block"><img class="d-inline-block align-text-top" height="32" width="32" alt="Logo" src="{{ url_for('static', filename='logo.svg') }}" style="margin-right:2rem"></a>
</header>
