{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container my-5 mt-2 px-5">
        <h1 class="fw-bold m-text-primary text-center my-5">Как пройти</h1>
        <div class="row justify-content-center mb-5">
            <p>Мастерская находится по адресу {{ config.ADDRESS }}. Идти 5 минут от метро Фрунзенская и 10 от метро Технологический институт.</p>
            <p>Работаем с 12:00 до 19:00 с понедельника по пятницу.</p>
            <div class="row justify-content-center mb-5">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A340c7eca001bc2606f794c9f61fa72045aa2b4b9a6c9ca40f4dc6e440d5ed6c8&amp;width=100%25&amp;height=347&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
            <p>Идите по набережной вдоль реки, до ворот рядом с дорожными знаками "Главная дорога" и "Угловой переулок":</p>
            <div class="row justify-content-center p-5 pt-2 pb-3">
              <img src="../street.jpg">
            </div>
            <p>Если калитка закрыта, наберите <code class="m-text-primary fw-bold bg-light">0135В</code> на домофоне и зайдите внутрь двора:</p>        
            <div class="row justify-content-center p-5 pt-2 pb-3">
              <img src="../yard.jpg">
            </div>
            <p>На домофоне цокольного этажа наберите 11 офис.</p>
            <p>Мы будем вас ждать!</p>
        </div>
</div>

</section>
{% endblock %}
