<div class="accordion" id="routeParent">
    <div class="accordion-item">
      <h2 class="accordion-header" id="routeHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Маршрут
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="routeHeading" data-bs-parent="#routeParent">
        <div class="accordion-body">
            <p>{{ route }}</p>
            <img src="../street.jpg" style="height: 18rem;" class="rounded mb-1 w-100">
            <p><span>Если калитка закрыта, наберите </span><code class="m-text-primary fw-bold bg-light">0135В</code><span> на домофоне и зайдите внутрь двора:</span></p>        
            <img src="../yard.jpg" style="height: 14rem;" class="rounded w-100">
            <p><span>На домофоне цокольного этажа наберите </span><code class="m-text-primary fw-bold bg-light">11</code> офис.</p>
            <p>Мы будем вас ждать!</p>
        </div>
      </div>
    </div>
</div>