{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container my-5 mt-2 px-5">
        <h1 id="preparation" class="fw-bold m-text-primary text-center my-5">Памятка клиента</h1>
        <div class="row justify-content-center mb-5">
            <h2 class="fw-bold">Подготовка камеры</h2>
            <p>Прежде всего, при возникновении поломки не пытайтесь починить камеру самостоятельно. Скорее всего, вы не сможете собрать ее обратно.</p>
            <p>Перед отправкой вытащите из камеры батарейки и пленку, и убедитесь, что в ней нет посторонних предметов. Однажды мы достали из затвора гематоген!</p>
            <p>Если на камере стоит съемный объектив в исправном состоянии и его не нужно юстировать, снимите его.</p>
            <p>Подготовьте негативы, если есть засветы или неправильный межкадр.</p>
        </div>
    

    <div class="row justify-content-center mb-5">
        <h2 id="diagnostics" class="fw-bold">Диагностика</h2>
        <p>К сожалению, найти причину неполадки, не разобрав аппарат, нельзя. Это долгий и кропотливый процесс, за который мы вынуждены брать фиксированную стоимость - 1000 рублей.</p>
        <p>Все дальнейшие процедуры и их стоимость обсуждаются напрямую с заказчиком.</p>
    </div>

    <div class="row justify-content-center mb-5">
        <h2 id="warranty" class="fw-bold">Гарантийный ремонт</h2>
        <p>Гарантийный ремонт осуществляется не более, чем через месяц (30 календаных дней) после даты приемки аппарата заказчиком.</p>
        <p>Мастер оставляет за собой право отказать в гарантийном ремонте, если серийный номер аппарата не соответствет зафиксированному мастером.</p>
    </div>
</div>

</section>
{% endblock %}