{% extends 'base.html' %}

{% block content %}
<section class="section">
    <div class="container my-5 mt-2 px-5">
        <h1 id="preparation" class="fw-bold m-text-primary text-center my-5">Правила сервиса</h1>
        <div class="row justify-content-center mb-5">
            <h2 class="fw-bold mb-4">Подготовка камеры</h2>
            <p>Прежде всего, при возникновении поломки не пытайтесь починить камеру самостоятельно. Скорее всего, вы не сможете собрать ее обратно.</p>
            <p>Перед отправкой вытащите из камеры батарейки и пленку, и убедитесь, что в ней нет посторонних предметов. Однажды мы достали из фотоаппарата гематоген!</p>
            <p>Если на камере стоит съемный объектив в исправном состоянии и его не нужно юстировать, снимите его.</p>
            <p>Подготовьте негативы, если есть засветы или неправильный межкадр.</p>
        </div>
    

    <div class="row justify-content-center mb-5">
        <h2 id="diagnostics" class="fw-bold mb-4">Диагностика</h2>
        <p>К сожалению, найти причину неполадки, не разобрав аппарат, нельзя. Это долгий и кропотливый процесс, за который мы вынуждены брать фиксированную стоимость - 1000 рублей.</p>
        <p>Все дальнейшие процедуры и их стоимость обсуждаются напрямую с заказчиком.</p>
    </div>

    <div class="row justify-content-center mb-5">
        <h2 id="warranty" class="fw-bold mb-4">Срочность</h2>
        <p>Ремонт камер осуществляется в порядке постановки фотоаппарата в очередь. При приеме заказа в очередь на <a class="no-link-underscoring" href="{{url_for('tracking')}}">трекинговой странице</a> статус заказа устанавливается в значение "Взят в очередь работ".</p>
        <p>Срок завершения работ обсуждается индивидуально. Длительность зависит от текущего числа заказов, сложности ремонта и объема работ. Средний срок ремонта составляет один месяц (30 рабочих дней). Возможно увеличение длительности ремонта при обнаружении дополнительных неисправностей или необходимости закупки запчастей.</p>
        <p>Для проведения срочного ремонта вне очереди устанавливается дополнительный сбор в размере 30% от стоимости ремонта.</p>
    </div>

    <div class="row justify-content-center mb-5">
        <h2 id="warranty" class="fw-bold mb-4">Гарантийный ремонт</h2>
        <p>Гарантийный ремонт осуществляется не более, чем через календарный месяц после даты приемки аппарата заказчиком.</p>
        <p>Мастер оставляет за собой право отказать в гарантийном ремонте, если серийный номер аппарата не соответствет зафиксированному мастером или сорвана гарантийная пломба (при наличии).</p>
        <p>Не считаются гарантийными случаи при обнаружении следов постороннего вмешательства, падении с высоты, наличия внутри корпуса следов жидкости, песка, грязи или иного загрязнения.</p>
    </div>

    <div class="row justify-content-center mb-5">
        <h2 id="refund" class="fw-bold mb-4">Возврат</h2>
        <p>При невозможности исправления неисправностей фотоаппарат возвращается клиенту без необходимости платы за ремонт. Плата за диагностику сохраняется.</p>
    </div>

</div>

</section>
{% endblock %}