<button class="carousel-control-prev m-3" style="justify-content: left; width: 10%" type="button" data-bs-target="#carouselGoods" data-bs-slide="prev">
    <span class="" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg>
    </span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next m-3" style="justify-content: right; width: 10%" type="button" data-bs-target="#carouselGoods" data-bs-slide="next">
    <span class="" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
    </span>
    <span class="visually-hidden">Next</span>
  </button>  