{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container my-5 mt-2">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid">
                <div class="container desktop-image multiply py-5 shop-camera-img">
                        <h1 class="fw-bold">Фотоаппараты</h1>
                        <p class="col-md-8 fs-4">Отреставрированная механика с гарантией месяц на повторный ремонт или возврат</p>
                        <a class="btn btn-lg m-btn-primary text-white mt-3 p-3 rounded-pill" href="/store/cameras/" type="button">Перейти в каталог</a>
                </div>
            </div>
          </div>
    </div>
</section>
<section id="spares">
    <div class="container-fluid my-5 mt-2 bg-light">
        <div class="container text-center pt-5 mb-3">
            <h1 class="fw-bold">Запчасти</h1>
        </div>
        <div id="carouselGoods" class="carousel slide" data-ride="carousel" style="min-height: 30rem;">
          <div class="carousel-inner">
            

              {% if categories %}
                {% for i in range(categories|length) %}
                  {% if i is divisibleby 3 %}
              <div class="carousel-item {{'active' if i == 0 else ''}}">
              <div class="row px-5 m-2 d-flex justify-content-center">
                  {% endif %}

                  
                    <div class="col-sm-12 col-md-4 col-xxl-3 d-flex align-items-stretch justify-content-center">
                      <a class="card-link" href="/store/spares/{{categories[i].subtype}}/{{categories[i].slug}}/">
                      <div class="container p-4 border rounded overflow-hidden shadow-sm h-md-250 card bounce h-100">
                        
                        <div class="d-flex justify-content-center">
                        <img src="{{ url_for('static', filename=categories[i].image_name) if categories[i].image_name else ''}}" style="max-width: 15em;" class="rounded m-3 img-fluid">
                        </div>

                        <div>
                          <h4 class="fw-bold">{{categories[i].name}}</h4>
                          <strong class="d-inline-block text-secondary">{{ categories[i].icon }} {{ categories[i].human_name }}</strong>
                          <p class="text-wrap text-dark mb-auto ml-5 mt-2">{{ categories[i].description }}</p>
                        </div>
                      </a>
                      </div>
                    </div>
                  {% if (i + 1) is divisibleby 3 %}
              </div></div>
                  {% endif %}
                {% endfor %}
              {% endif %}
          </div>
          {% include 'slide-buttons.html' %} 
        </div>
      </div>
      
</section>


{% with title="Посмотреть оффлайн" %}
  {% include 'route.html' %}
{% endwith %}

{% endblock %}
